<nav class="p-5 flex justify-between items-center">
  <div class="container mx-auto flex items-center justify-between">
    <li class="list-none">
      <span class="text-3xl font-bold text-MainHotWhite">Indaia</span
      ><span class="text-3xl font-bold text-MainColdWhite">Cult</span>
    </li>

    <div class="lg:hidden">
      <button class="text-MainColdWhite focus:outline-none text-2xl">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="1em"
          viewBox="0 0 448 512"
        >
          <style>
            svg {
              fill: #3e8989;
            }
          </style>
          <path
            d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"
          />
        </svg>
      </button>
    </div>
    <div class="hidden lg:flex space-x-8">
      <a class="text-MainColdWhite text-2xl" href="#">Artistas</a
      ><a class="text-MainColdWhite text-2xl" href="#">Sobre</a
      ><a class="text-MainColdWhite text-2xl" href="#">Obras</a>
      <button class="text-2xl" id="toggleTheme">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="1.5em"
          viewBox="0 0 512 512"
        >
          <style>
            svg {
              fill: #000000;
            }
          </style>
          <path
            d="M448 256c0-106-86-192-192-192V448c106 0 192-86 192-192zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256z"
          />
        </svg>
      </button>
    </div>
  </div>
</nav>
